@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    outline: none;
    border: none;
    text-transform: capitalize;
}

html {
    font-size: 70%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background: #111;
    color: #fff;
}

section {
    min-height: 100vh;
    padding-left: 40rem;
}

/************ Header Section **************/

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    height: 100%;
    width: 35rem;
    background: #1a1a1a;
    /* border-right: 1px solid rgba(0, 0, 0, 0.933); */
    text-align: center;
    transition: .6s linear;
}


.box {
    margin: 1.5rem auto;
    position: relative;
    width: 15rem;
    height: 15rem;
    background: #111;
    border-radius: 50%;
    overflow: hidden;
}

.box::before {
    content: '';
    position: absolute;
    inset: -10px 50px;
    background:linear-gradient(to right,hsla(57, 100%, 50%, 0),#fff200);
    transition: .4s ease;
    animation: animate 4s linear infinite;
}

.box:hover::before {
    inset: -20px 0px;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.box::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    inset: 6px;
    z-index: 1;
}   

header .user {
    position: absolute;
    inset: 10px;
    /* border: 4px solid #fff; */
    z-index: 3;
    border-radius: 50%;
    overflow: hidden;
}

header .user img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    pointer-events: none;
}

.name h3 {
    font-size: 30px;
}

.name p {
    font-size: 22px;
    color: #0EF0EF;
    font-weight: 600px;
    margin-top: 4px;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.name p::after{
    content: '';
    position: absolute;
    top: 0;
    left:0;
    height: 100%;
    width:100%;
    background-color: #1a1a1a;
    border-left: 3px solid #0EF0EF;
    animation:text 3s steps(18) infinite ;
    transition: .4s ease;
    z-index: 999;
}
@keyframes text {

    40%,60%{
        left: 80%;
    }

    100%{
        left: 20%;
    } 
}

            /************ Navigation Bar **************/
header .navbar {
    width: 100%;
}

header .navbar ul {
    padding: 1rem 2rem;
}

header .navbar ul li a {
    display: block;
    padding: .5rem;
    margin: 1.5rem 2rem;
    font-size: 24px;
    font-weight: 600px;
    border-radius: 5rem;
    background: #111;
    border: 2px solid #111;
    color: #fff;
    cursor: pointer;
    transition: .3s linear;
}

header .navbar ul li a:hover,
header .navbar ul li a.active {
    background: #0EF0EF;
    border: 2px solid #0EF0EF;
    color: #000;
    box-shadow: 0 0 1rem #0EF0EF;
}
header.toggle{
    left:0;
}

#click:checked ~ header{
    left: 0%;
}
  
.bar1, .bar2, .bar3 {
    width: 20px;
    height: 3px;
    background-color: #0EF0EF;
    margin: 4px 0;
    transition: 0.6s ease;
}
  
.change .bar1 {
    transform: translate(0, 7px) rotate(-45deg);
}
  
.change .bar2 {opacity: 0;}
  
.change .bar3 {
    transform: translate(0, -7px) rotate(45deg);
}

#click{
    display: none;
}


            /************ Navigation Bar End **************/


.menu {
    position: fixed;
    top: 2rem;
    right: 3rem;
    color: #0EF0EF;
    background-color: #1a1a1a;
    padding: 3px 6px;
    cursor: pointer;
    font-size: 2rem;
    z-index: 1000;
    display: none;
}
            /************ Header Section End **************/      

            /************ Home Section **************/
.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-contant h3 {
    font-size: 20px;
}

.home-contant h1 {
    font-size: 30px;
}

.home-contant .text {
    display: inline-flex; 
    margin:2px;
    font-size: 24px;
    text-transform: none;
}

.text.sec-text{
    position: relative;
    color: #0EF0EF;
}

.text.sec-text::after{
    content: '';
    position: absolute;
    top: 0;
    left:0;
    height: 100%;
    width: 100%;
    background-color: #111;
    border-left: 3px solid #0EF0EF;
    animation:typing 3s steps(18) infinite ;
    transition: .4s ease;
}
@keyframes typing {

    40%,60%{
        left: 100%;
    }

    100%{
        left: 0;
    }
    
}

.home-contant p {
    font-size: 18px;
}

            /************ Social Icons **************/

.icon a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 3px solid #0EF0EF;
    border-radius: 50%;
    font-size: 22px;
    color: #0EF0EF;
    margin: 4px 8px 4px 0px;
    transition: .5s ease;
}

.icon a:hover {
    background-color: #0EF0EF;
    color: #111;
    box-shadow: 0 0 1rem #0EF0EF;
}

            /************ Span **************/
span {
    color: #0EF0EF;
}

.btn {
    font-size: 18px;
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 2rem;
    background: #0EF0EF;
    border: .2rem solid #0EF0EF;
    color: #111;
    box-shadow: 0 0 1rem #0EF0EF;
    font-weight: 600;
    cursor: pointer;
    transition: .5 ease;
}

.btn:hover {
    box-shadow: none;
}
            /************ Home Section End **************/

            /************ Skill Section **************/
.skill {
    width: 80%;
    margin: auto;
}

.skill h1 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
    
}

.service {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.logo {
    padding: 30px;
    margin: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: 600px;
    border-radius: 25px;
    border: none;
    box-shadow: inset 9px 9px 20px #0EF0EF, inset -9px -9px 20px #0EF0EF;
    cursor: pointer;
    transition: .4s ease;
}

.logo img {
    width: 60%;
    margin: auto;
    padding: 10px;
    /* height: 25vh; */
    background-position: center;
}

.logo:hover {
    box-shadow: none;
    background-color: #e3e3e3;
    color: #000000;
}
            /************ Skill Section End **************/

            /************ Project Section **************/

.project {
    width: 90%;
    margin: auto;
}

.project h1 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
}

.project-contant {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin: auto;
    /* grid-gap: 10px; */
}

.project-contant .image {
    position: relative;
    overflow: hidden;
    display: flex;
    background-position: center;
    background-size: cover;
    margin: 20px;
    border-radius: 24px;
    box-shadow: 0 0 1rem #000000f4;
}

.image img {
    width: 100%;
    /* height: 35vh; */
    transition: .5s ease;
}

.image:hover img {
    transform: scale(1.1);
    opacity: 0.4;
}

.image .image-body {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), #0EF0EF);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 5px 20px;
    transform: translateY(100%);
    transition: .5s ease;
}

.image:hover .image-body {
    transform: translateY(0);
    box-shadow: none;
}

.image-body a {
    color: #000000;
    background-color: #fff;
    border-radius: 50%;
    font-size: 18px;
    padding: 4px 8px;
    cursor: pointer;
}

.image-body h4 {
    font-size: 24px;
}

.image-body p {
    font-size: 18px;
    margin: 10px 0px 10px;
}
            /************ Project Section End **************/

            /************ About Section **************/

.about h1 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
}

.about-heading{
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-bottom: 20px;
}

.about-heading h4 a{
    font-size: 16px;
    color: #fff;
    margin: 6px;
    border: 2px solid #1a1a1a;
    padding: 4px 18px;
    border-radius: 6px;
    background-color: #000;
    transition: .3s linear;
}

.about-heading h4 a:hover{
    color: #000;
    background-color: #0EF0EF;
    border: 2px solid #0EF0EF;
    box-shadow: 0 0 2rem #0EF0EF;
    cursor: pointer;
}

.about-contant {
    width: 100%;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
}
.personal{
    width: 50%;
}
.personal-body p{
    padding: 10px 10px;
    margin: 10px;
}
.education{
    width: 50%;
}
.education-body{
    position: relative;
}

.education-body::after{
    content: '';
    position: absolute;
    width: 4px;
    height: 100%;
    background-color: #fff;
    top: 0;
    margin-left: -3px;
    z-index: -999;
    animation: moveline 6s linear forwards; 
}

.edu-box {
    position:relative ;
    padding: 10px 10px 10px 30px;
    margin: 10px;  
}

.edu-box h3,h4,p{
    padding: 2px;
   
}

.edu-box i{
    position: absolute;
    top: 14px;
    left: -29px;
    padding: 6px 4px 6px 5px;
    z-index: 0;
    color: #000;
    font-size: 20px;
    background-color: #0EF0EF;
    border-radius: 50%;
    border: 2px solid #0EF0EF;
}

@keyframes moveline {
    0%{
        height:0;
    }
    100%{
        height: 100%;
    }
}
            /************ About Section End **************/

            /************ Contact Section **************/

.contact h1 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
}

.contact-contant {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact-detail {
    width: 30%;
    margin: 20px 10px ;
    background-color: #1a1a1a;
    border-radius: 16px;
    box-shadow: 0 0 1rem #000000f4;
    cursor: pointer;
    transition: .3s linear;
    position: relative;
}

.contact-detail:hover {
    background-color: #e3e3e3;
    color: #000;
    box-shadow: none;
}

.contact-image img {
    width: 100%;
    padding: 20px 60px 0px;
}

.contact-body {
    padding: 10px;
    text-align: center;
}

.contact-body h3 {
    font-size: 24px;
}

.contact-body p {
    font-size: 18px;
    padding-top: 6px;
    word-wrap: break-word;
    text-transform: none;
}

.iconTop a{
    
    position:relative;
    top: 20px;
    bottom: 20px;
    right: 20px;
    margin-left: 95%;
}

.iconTop a i{
    
    font-size: 20px;
    padding: 4px 6px;
    border-radius: 4px;
    color: #000;
    background-color: ##0EF0EF;
    border: 2px solid #0EF0EF;
    box-shadow: 0 0 1rem ##0EF0EF;
}
.iconTop a i:hover{
    color: #0EF0EF;
    background-color: #000;
    border: 3px solid #0EF0EF;
    box-shadow: 0 0 1rem ##0EF0EF;
}
            /************ Contact Section End **************/

                /************ Footer **************/
footer {
    width: 100%;
    background: rgba(14, 240, 239, 1.0);
background: -webkit-radial-gradient(top right, rgba(14, 240, 239, 1.0), rgba(1, 1, 1, 1.0));
background: -moz-radial-gradient(top right, rgba(14, 240, 239, 1.0), rgba(1, 1, 1, 1.0));
background: radial-gradient(to bottom left, rgba(14, 240, 239, 1.0), rgba(1, 1, 1, 1.0));
}

.footer-contant {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.footer-contant p {
    color: #fff;
    font-size: 20px;
    padding-top: 20px;
}

             /************ Footer Icons **************/

.social-icon a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 3px solid #fff;
    border-radius: 10px;
    font-size: 24px;
    color: #fff;
    margin: 30px 8px 0px;
    transition: .4s linear;
}

.social-icon a:hover {
    border: 3px solid #0EF0EF;
    background-color: #0EF0EF;
    color: #000;
    box-shadow: 0 0 1rem #0EF0EF;
}
             /************ Footer End **************/

/*************************************************************************************************************************************                                    *-*-*-*-*-*-*-*-*-*-*-*-* MEDIA QUERIES *-*-*-*-*-*-*-*-*-*-*-*-* ***************************************************************************************************************************************/ 

              /************ 1200px **************/

@media screen and (min-width : 1200px) {

    .iconTop a i{
        color: #0EF0EF;
        background-color: #111;
        border: 2px solid #0EF0EF;
    }
    .iconTop a i:hover{
        color: #000;
        background-color: #0EF0EF;
        border: 2px solid #0EF0EF;
        box-shadow: 0 0 1rem #0EF0EF;
    }
    .footer-contant{
        background-color: #1a1a1a;
        padding-left: 30%;
    }

    .social-icon a{
        color: #0EF0EF;
        border: 3px solid #0EF0EF;
    }
}


            /************ 769px-1200px **************/

@media screen and (min-width : 769px) and (max-width :1200px) {

    html {
        font-size: 65%;
    }

    section {
        padding: 2rem;
    }

    header {
        left: -100%;
        width: 100vw;
    }

    .menu {
        display: block;
    }
    header .navbar ul {
        display:flex;
        flex-direction: row;
        justify-content: center;
       
    }
    header .navbar ul li a{
        font-size: 20px;
        margin: 10px;
        padding: 4px 40px;

    }
   
            /****** Home Section ******/

    .home {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

            /****** Skill Section ******/

    .skill {
        width: 70%;
        margin: auto;
    }

    .logo img {
        width: 50%;
        /* height: 20vh; */
    }

                /****** Project Section ******/

    .project-contant {
        width: 100%;
        margin: auto;
    }

    .project-contant .image img {
        width: 100%;
        /* height: 20vh; */
    }

                /****** About Section ******/

                /****** Contact Section ******/

    .contact-contant {
        width: 100%;
        margin: auto;
    }
    .contact-image img{
        width:60%;
        padding: 10px 0px 0px 95px;
    }
    .contact-body {
        padding: 4px;

    }
}
            /************ 481px-768px **************/

@media screen and (min-width : 481px) and (max-width : 768px) {

    html {
        font-size: 67%;
    }

    section {
        padding: 2rem;
    }

    header {
        left: -120%;
        width: 100vw;
    }

    header .navbar ul li a {
        margin: 16px 80px;
    }

    .menu {
        display: block;
    }
   
                /****** Home Section ******/

    .home {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

            /****** Skill Section ******/

    .skill {
        width: 80%;
        margin: auto;
    }

    .logo img {
        width: 100px;
        /* height: 18vh; */
    }

                /****** Project Section ******/

    .project-contant {
        width: 100%;
        margin: auto;
    }

    .project-contant .image img {
        width: 100%;
        /* height: 18vh; */
    }
    
.image .image-body {
    padding: 10px;

   
}

                /****** About Section ******/

                /****** Contact Section ******/

    .contact-contant {
        width: 100%;
        margin: auto;
    }

    .contact-detail {
        width: 40%;
        margin: 20px;
    }
}

            /************ 320px-480px **************/

@media screen and (min-width : 320px) and (max-width : 480px) {

    html {
        font-size: 70%;
    }

    section {
        padding: 2rem;
    }

    header {
        left: -120%;
        width: 100vw;
    }

    header .navbar ul li a {
        margin: 14px 30px;
    }
   
    .menu {
        display: block;
        right: 1rem;
    }
    

            /****** Home Section ******/

    .home {
        text-align: center;
    }

            /****** Skill Section ******/

    .skill-contant {
        width: 100%;
        margin: auto;
    }

    .service {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .logo img {
        width: 60%;
    }

                /****** Project Section ******/

    .project h1 {
        font-size: 30px;
    }

    .project-contant {
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .project-contant .image {
        width: 100%;

    }

    .project-contant .image img {
        width: 100%;
        /* height: 20vh; */
    }

                /****** About Section ******/
    
    .about-contant{
        width: 100%;
        flex-direction: column;
    }
    .personal{
        width: 100%;
    }
    .education{
        width: 100%;
    }
    .education-body{
        margin-left: 20px;
    }
                /****** Contact Section ******/

    .contact-contant {
        width: 100%;
        margin: auto;
    }

    .contact-detail {
        width: 100%;
        margin: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact-image {
        width: 52%;
    }
    .contact-body p{
       word-wrap: break-word;
        
    }
}
